Repository googleapis/python-bigquery-connection, pull requests merged in 2022-04, with the labels that each got.

#184 fix(deps): require google-api-core >= 1.31.5, >= 2.3.2 on v0 release
  docs/conf.py
  google/cloud/bigquery/connection_v1/services/connection_service/async_client.py
  google/cloud/bigquery/connection_v1/services/connection_service/client.py
  google/cloud/bigquery/connection_v1/services/connection_service/transports/base.py
  google/cloud/bigquery/connection_v1/services/connection_service/transports/grpc.py
  google/cloud/bigquery/connection_v1/services/connection_service/transports/grpc_asyncio.py
  google/cloud/bigquery/connection_v1/types/connection.py
  noxfile.py
  setup.py
  tests/unit/gapic/connection_v1/test_connection_service.py
Labels: api: bigqueryconnection, size: l

#147 docs(samples): create connection sample for MySQL instance
  samples/snippets/conftest.py
  samples/snippets/create_mysql_connection.py
  samples/snippets/create_mysql_connection_test.py
  testing/test-env.tmpl.sh
Labels: api: bigqueryconnection, samples, size: l

#205 fix: region tags in create_mysql_connection.py
  samples/snippets/create_mysql_connection.py
Labels: api: bigqueryconnection, size: xs
